.hide {
    display: none;
}

.wrong, .wrong-item {
    border: 1px solid red;
}

.good, .good-item {
    border: 1px solid green;
}

#menu-links li {
    cursor: pointer;
    position: relative;
}

#content-questions li {
    width: fit-content;
    width: -moz-fit-content;
    max-width: 400px;
    margin: 10px 0;
    padding: 5px 20px;
    list-style: none;
}

label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 3px;
    margin: 2px;
    cursor: pointer;
}

label:hover {
    box-shadow: 0 1px grey;
}

#menu-links li:hover::after {
    content: '';
    width: 240px;
    height: 1px;
    position: absolute;
    box-shadow: 0 1px grey;
    left: -20px;
    bottom: 0;
}

label input {
    margin: auto 8px;
}